.container{
background: #80CBC4;
color:#1976D2;
text-align: center;
  font-size: 30px;
  font-family: cursive;
width: 50%;
height: 50%;
padding: 10px;
margin: auto;
margin-top: 10%;
}
.container h2{
  color:#0D47A1;
}
.container strong{
  color:#5E35B1;
}
